/Lista 2/ex4-Lista2/build/
/Lista 3/JavaApplication4/nbproject/private/
/Lista 3/ex1-Lista3/nbproject/private/
/Lista 3/ex1-Lista3/build/
/Lista 2/ex3-Lista2/nbproject/private/
/Lista 2/ex3-Lista2/build/
/Lista 2/ex3-Lista2/dist/
/Lista 2/ex1-Lista2/dist/
/Lista 5/Lista5-ex4/build/
/Lista 5/Lista5-ex4/nbproject/private/
*.zip
/Lista 7/ex1-lista7/nbproject/private/
/Lista 7/ex2-Lista7 (InsertionSort)/build/
/Lista 7/ex2-Lista7 (InsertionSort)/nbproject/private/
/Lista 7/exe3-Lista 7/nbproject/private/
/Lista 7/exe3-Lista 7/build/
/Lista 7/exe3-Lista 7/dist/
/Lista 7/ex4-Lista7/nbproject/private/
/Lista 7/ex4-Lista7/build/
/Lista 7/ex4-Lista7/dist/
/Lista 7/ex1-lista7/build/
/Lista 8/PolinomioGrafica/build/
/Lista 8/PolinomioGrafica/dist/
/Lista 8/Calculadora/nbproject/private/
/Lista 2/ex5-Lista2/ex5/nbproject/private/
/Lista 8/Calculadora/dist/
/Lista 8/Calculadora/build/
/Lista 8/CaculadoraGUI/nbproject/private/
/Lista 8/CaculadoraGUI/build/
/Lista 8/CaculadoraGUI/dist/
/Lista 8/Teste/nbproject/private/
/Lista 8/Teste/build/
/Lista 8/Teste/dist/
/Lista 7/Deposito/nbproject/private/
/Lista 7/DepositoLista/nbproject/private/
/Lista 7/DepositoLista/build/
/Lista 9/ex2 Lista 9/build/
/Lista 9/ex2 Lista 9/nbproject/private/
/Lista 10/DepositoLista/build/
/Lista 10/DepositoLista/nbproject/private/
/Lista 10/DepositoLista/dist/
/Lista 10/ex1-Lista10-itemA/nbproject/private/
/Lista 10/ex1-Lista10-itemB/nbproject/private/
/Lista 10/ex1-Lista10-itemB/build/
/Lista 10/ex1-Lista10-itemB/dist/
/Lista 10/ex2-Lista10/build/
/Lista 10/ex2-Lista10/dist/
/Lista 10/ex2-Lista10/nbproject/private/
/Lista 10/ex1-Lista10-itemA/build/
/ex1-Lista11-Cliente/nbproject/private/
/ex1-Lista11-Servidor/nbproject/private/
/ex1-Lista11-Servidor/build/
/ex1-Lista11-Cliente/build/
/ex1-Lista11-Cliente-Grafico/nbproject/private/
/ex1-Lista11-Servidor-Grafico/nbproject/private/
/ex1-Lista11-Servidor-Grafico/dist/
/ex1-Lista11-Servidor-Grafico/build/
/ex3-Lista11-Servidor/dist/
