/Lista 2/ex4-Lista2/build/
/Lista 3/JavaApplication4/nbproject/private/
/Lista 3/ex1-Lista3/nbproject/private/
/Lista 3/ex1-Lista3/build/
/Lista 2/ex3-Lista2/nbproject/private/
/Lista 2/ex3-Lista2/build/
/Lista 2/ex3-Lista2/dist/
/Lista 2/ex1-Lista2/dist/
/Lista 5/Lista5-ex4/build/
/Lista 5/Lista5-ex4/nbproject/private/
*.zip
/Lista 7/ex1-lista7/nbproject/private/
/Lista 7/ex2-Lista7 (InsertionSort)/build/
/Lista 7/ex2-Lista7 (InsertionSort)/nbproject/private/
/Lista 7/exe3-Lista 7/nbproject/private/
/Lista 7/exe3-Lista 7/build/
/Lista 7/exe3-Lista 7/dist/
/Lista 7/ex4-Lista7/nbproject/private/
/Lista 7/ex4-Lista7/build/
/Lista 7/ex4-Lista7/dist/
/Lista 7/ex1-lista7/build/
/Lista 8/PolinomioGrafica/build/
/Lista 8/PolinomioGrafica/dist/
